<div class="container">
  
  <mat-accordion class="main headers-align">
    <mat-expansion-panel hideToggle="true" *ngFor="let request of requests |async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{request.member.displayName}}
        </mat-panel-title>
        <mat-panel-description>
          {{request.nbNights}} nuits ({{getDateRange(request)}})
        </mat-panel-description>
        <div class="request-status status-{{request.status}}" matTooltip="{{request.status}}"></div>
      </mat-expansion-panel-header>
      <div>
        Début: {{request.startDate |date:'EEEE dd MMMM yyyy'}}
      </div>
      <div>
        Fin: {{request.endDate |date:'EEEE dd MMMM yyyy'}}
      </div>
      <div>
          {{request.nbPersons}} personnes
      </div>
      <div>
        Status: {{request.status}}
      </div>
      Logs
      <div class="logs">
        <div *ngFor="let log of request.logs">
          <span>[{{log.date |date:'dd-MM-yyyy'}}] {{log.user}} - {{log.message}} :)</span>
        </div>
      </div>
      <mat-action-row  *ngIf="authService.isAdmin()">
          <button mat-button color="primary" (click)="chanteStatus(request, 'refused')">Refuser</button>
        <button mat-button color="primary" (click)="chanteStatus(request, 'confirmed')">Confirmer</button>
        <button mat-button color="primary" (click)="chanteStatus(request, 'paid')">A payé</button>
        <button mat-button color="warn" (click)="chanteStatus(request, 'canceled')">Annuler</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>