<div class="container">
  
  <mat-accordion class="main headers-align">
    <mat-expansion-panel hideToggle="true" *ngFor="let request of requests |async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{request.member.displayName}}
        </mat-panel-title>
        <mat-panel-description>
          {{request.nbNights}} nuits ({{getDateRange(request)}})
        </mat-panel-description>
        <div class="request-status status-{{request.status}}" matTooltip="{{status[request.status]}}"></div>
      </mat-expansion-panel-header>
      <div>
        Début: {{request.startDate |date:'EEEE dd MMMM yyyy'}}
      </div>
      <div>
        Fin: {{request.endDate |date:'EEEE dd MMMM yyyy'}}
      </div>
      <div>
          {{request.nbPersons}} personnes
      </div>
      <div>
        Status: {{status[request.status]}}
      </div>
      <div class="logs" *ngIf="authService.isAdmin()">
        <div *ngFor="let log of request.logs">
          <span>[{{log.date |date:'dd-MM-yyyy'}}] {{log.user}} - {{log.message}}</span>
        </div>
      </div>
      <mat-action-row  *ngIf="authService.isAdmin()">
        <button *ngIf="request.status != 'REFUSED'" mat-button color="primary" (click)="chanteStatus(request, 'REFUSED')">Refuser</button>
        <button *ngIf="request.status != 'ACCEPTED'" mat-button color="primary" (click)="chanteStatus(request, 'ACCEPTED')">Confirmer</button>
        <button *ngIf="request.status != 'PAID'" mat-button color="primary" (click)="chanteStatus(request, 'PAID')">A payé</button>
        <button *ngIf="request.status != 'CANCELED'" mat-button color="warn" (click)="chanteStatus(request, 'CANCELED')">Annuler</button>
        <button mat-button color="warn" (click)="deleteRequest(request)">Supprimer</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>