.headers-align .mat-expansion-panel-header-title, 
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.logs {
  background-color: #f5f5f5;
  padding: 1em;
  border: solid 1px #ddd;
}