.main {
  height: 100vh;
  width: 100%;

  background: url('assets/vb.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.layer {
  background-color: rgba(255, 255, 255, .5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.title {
  z-index: 2;
  color: #444;
}

.avatar {
  max-width: 150px;
  z-index: 2;
  margin: 2em 0;
  border-radius: 50%;
  border: solid 3px #fff;
}

h1 {
  margin: 0;
}