/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  min-height: 100vh;
  background-color: #f7f7f7;
}
.header-img {
  width: 100%;
  height: auto;
}

.container {
  padding: 1em;
}


.bill {
  // background-color: #f1f1f1;
  margin: 0 -16px;
  background-color: #f5f5f5;
  padding: 0 16px;

  .row {
    margin: .5em 0;

    .label {
      color: #777;
    }
  }
}


@media only screen and (min-device-width: 600px){
  .bill {
    margin: 0 -24px;
    padding: 0 24px;
  }
}
@media only screen and (min-device-width: 768px){
  .container {
    align-content: start;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;

    .main {
      width: 700px;
    }
  }
}


.request-status {
  border-radius: 50%;
  width: 1em;
  height: 1em;
}

.status-PENDING {
  background-color: orange;
}

.status-ACCEPTED {
  background-color: green;
}

.status-REFUSED {
  background-color: red;
}

.status-PAID, .status-CANCELED {
  background-color: grey;
}